.section {
    margin-block-end: 30px;
  }
  
  .title {
    font-size: var(--text-h2);
    margin-block-end: 30px;
  }
  
  .form {
      background-color: var(--color-neutral);
      padding: 30px;
      border-radius: 10px;
      margin-bottom: 20px;
      display: grid;
      row-gap: 20px;
      
    
      & > button {
        justify-self: start;
      }
    
      &__field {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    
      &__label {
        font-size: var(--text-h6);
        font-weight: var(--font-weight-medium);
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
      }
  
      &__file{
        background-color: var(--color-background);
        border-radius: 10px;
        resize: none;
        padding-inline: 20px;
        padding-block: 15px;
        width: 100%;
        font-weight: var(--font-weight-regular);
        font-size: var(--text-body);
        border: none;
      }
  
    
      &__textarea,
      &__input {
        background-color: var(--color-background);
        border-radius: 10px;
        resize: none;
        padding-inline: 20px;
        padding-block: 15px;
        width: 100%;
        font-weight: var(--font-weight-regular);
        font-size: var(--text-body);
        border: none;
      }
  
      input[type="file"]{
        display: none;
      }
      border: 1px solid black;
    }

    .img{
        img{
            max-width: 250px;
        }
    }

    .option{
      font-size: 20px;
    }
