.app {
  height: 100vh;
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: var(--font-family);
}

.main {
  margin: 30px;
  overflow-y: scroll;
}
